* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

:root {
    --azul-fundo: #006d74;
    --amarelo: #f7e715;
    --azul-letras: #4a98a6;
    --offwhite: #f8f8f8;
    --verde: #a0c100;
    --cinza-escuro: #333;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    background-image: url("../img/cubes.png");
}

/* ---------cabeçalho----------- */
header {
    width: 100%;
    height: 16rem;
    background-image: linear-gradient(#006d74, #f8f8f8);
    margin-bottom: 80px;
}

header img {
    height: 150px;
    margin-top: 40px;
    position: relative;
    right: 237px;
    bottom: 30px;
}

header h1 {
    letter-spacing: 5px;
    float: left;
    position: relative;
    /* right: 1650px; */
    top: 160px;
    color: var(--cinza-escuro);
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
}

header form input,
header form button
{
    position: relative;
    float: right;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

header form input,
header form button {
    right: 40px;
    margin-left: 10px;
    bottom: 30px;
}

nav {
    height: 100px;
    position: relative;
    bottom: 80px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    margin-left: 23%;
}

nav ul li {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    position: relative;
}

nav ul li a:hover {
    color: var(--verde);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 15px;
    left: 0px;
    line-height: 30px;
}

nav ul li:hover ul {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px 10px 0px 0px;
}

/* -----fim menu------ */

#contentProdutos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(500px, auto);
    width: 90%;
    margin: 0 auto;
    gap: 10px;
}
#contentProdutos div img {
    width: 100%;
}

#contentProdutos div h3 {
    text-align: center;
}

#contentProdutos div h3:hover {
    color: var(--offwhite);
    cursor: pointer;
    transition: 0.8s;
}



#contentProdutos div img, #contentProdutos div p, #contentProdutos div {
    border-radius: 10px;
}


#contentProdutos div {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: rgb(74, 152, 166, 0.6);
    font-size: 1.3em;
    padding: 2%;
}

#contentProdutos div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url("../img/cloud4.jpg");
    background-size: cover;
}

#contentProdutos div:nth-child(1) p, #contentProdutos div:nth-child(8) p {
    background-color: rgb(255, 255, 255,0.5);
    padding: 20px;
    
}

#contentProdutos div:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    line-height: 60px;
}

#contentProdutos div:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}

#contentProdutos div:nth-child(8) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url("../img/forcav.jpg");    
}


/* banner fixed */
#logamarcaFixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* -----------Footer--------- */
footer {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    background-color: var(--cinza-escuro);
    height: 50px;
}

footer div a {
    color: rgb(209, 199, 199);
    text-decoration: none;
    padding-left: 20px;
}

/* tamanho das logos redes sociais */
footer img {
    height: 30px;
}