* {
    margin: 0;
    padding: 0;
}

:root {
    --soulCodeAzul: #59b5c4;
    --soulCodeAmarelo: #f3c110;
    --soulCodeCinza: #f0eff2;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: 2.6em;
    line-height: 2;
    text-align: center;
    margin: 10% 2% 10% 2%;
    padding: 2%;
    border: 60px solid transparent;
    border-image: url(img/logosoulcode1-removebg-preview.png) 64 round;
    border-image-repeat: stretch;

}

p {
    color: white;

}