* {
    margin: 0;
    padding: 0;
}

:root {
    --soulCodeAzul: #59b5c4;
    --soulCodeAmarelo: #f3c110;
    --soulCodeCinza: #f0eff2;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 1.6em;
    line-height: 2;
    text-align: center;
    margin: 10% 2% 10% 2%;
    padding: 2%;
    border: 60px solid transparent;
    /* para a imagem esticar e 64 deixa sem resíduos */
    border-image:url(img/logosoulcode1-removebg-preview.png) 64 round;
    border-image-repeat: stretch;
    box-shadow: 10px -50px 0px 10px --soulCodeAmarelo;

}

h1 {
    color: red;
    text-shadow: -2px 2px 2px white;

}