* {
    margin: 0;
    padding: 0;
}

:root {
    --soulCodeAzul: #59b5c4;
    --soulCodeAmarelo: #f3c110;
    --soulCodeCinza: #f0eff2;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-variant: small-caps; */
    background-image: url(img/colorWoodBackground.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.6em;
    line-height: 2;
    text-align: center;
    margin: 2%;
    padding: 2%;
}
section {
 
    display: grid;
    grid-template-columns: 2;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

div {
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}




#fixed {
    position: fixed;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    right: 1%;
    bottom: 1%;
    background-color: black;
    color: var(--soulCodeCinza);
    border-radius: 50%;
    font-size: .5em;
    border: #f3c110 5px dotted;
}
